<header class="shell-header">
  <a class="brand" routerLink="/">
    <span>
      
    </span>
  </a>

  <nav class="shell-nav" *ngIf="authService.currentUser() as user">
    <span>Hello, {{ user.name }}</span>
    <app-button variant="primary" (click)="themeService.toggle()">
      @if (themeService.theme() === 'dark') {
        <i class="bi bi-sun"></i>
      } @else {
        <i class="bi bi-moon"></i>
      }
    </app-button>
    <app-button variant="primary" (click)="authService.logout()">
      <i class="bi bi-box-arrow-in-right"></i>
    </app-button>
  </nav>
</header>

<main class="shell-main">
  <router-outlet />
</main>

