DB_DIALECT=postgres
DB_HOST=localhost
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=management
DB_PORT=5432
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/management"
API_PREFIX=api

EMAIL_FROM="My API <mygmail@gmail.com>"
GMAIL_USER="mygmail@gmail.com"
GMAIL_APP_PASSWORD="xxxx xxxx xxxx xxxx"


SESSION_SECRET=Tu0nOCSPX5unc1jfu9414-076kgl5rCo-ALu

NODE_ENV=development
PORT=3333


# CORS
CORS_ORIGINS="http://localhost:8080,http://localhost:4200"

# http://192.168.0.21:8080/
REDIS_URL="redis://localhost:6379"

# Rate limit (auth routes)
AUTH_RATE_LIMIT_WINDOW_MS=900000
AUTH_RATE_LIMIT_MAX=200


# JWT
JWT_ACCESS_SECRET="TLwXTdZq2fSF5DedL02DwGqK3S5FWPXUVc3roZjUvX8H4UkESVd0zPISt0ZqBMGl"
JWT_REFRESH_SECRET="94x2bv082THeuRSKeD7R7y7wtvvwg1APYZ1kYEXjITJPPSIu3t0p6obre1ji0Sah"
JWT_ACCESS_EXPIRES_IN="45m"
JWT_REFRESH_EXPIRES_IN="30d"

# Cookies (refresh token cookie)
COOKIE_NAME="GSXccbHE7ECFix0exiIwrvmezdORermklfOUz8UV8dksbX1a7tY5eIyaLdIh"
COOKIE_SECURE=false
COOKIE_DOMAIN=""
COOKIE_SAMESITE="lax"     # lax | strict | none
COOKIE_PATH="/"
COOKIE_MAX_AGE_DAYS=30
